<div class="container">
    <br />
    <div class="row">
        <div 
            ng-repeat="gig in gigs"
            class="col-md-4"
            style="margin-bottom: 50px;"
            >
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    {{gig.venue}}
                </div>
                <div class="card-body">
                    <p ng-if="gig.location.length > 0" class="card-text">{{gig.location}}</p>
                    <p ng-if="gig.description.length > 0" class="card-text">{{gig.description}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{gig.date | date:'d MMM yyyy'}}
                    <!-- {{gig.date | toDate | date:'mediumDate'}} -->
                </div>
            </div>
        </div>
    </div>
</div>